/* CASCADING STYLESHEET - MARCH 12 2007 */
/* J. SABARESE - NOVICENOTES - DEMO *** */
/* CSS 2.1 CURSOR PROPERTY VALUES ***** */
/* ************************************ */

body {
	font-family: 'times new roman', times, serif;
	margin: 0, auto;
}


p#cursor-auto {
	cursor: auto;
}

p#cursor-mycustom {
	cursor: url(cursor/truetype-strongcursor.ico);
}
p#cursor-crosshair {
	cursor: crosshair;
}
p#cursor-default {
	cursor: default;
}
p#cursor-help {
	cursor: help;
}
p#cursor-move {
	cursor: move;
}
p#cursor-neresize {
	cursor: ne-resize;
}
p#cursor-pointer {
	cursor: pointer;
}
p#cursor-swresize {
	cursor: sw-resize;
}
p#cursor-wait {
	cursor: wait;
}
#cursor-text {
	cursor: text;
}


/* ******* */
/* END CSS */
/* ******* */