/** graphicdesign.css 
* a component of anniedebrowsa for styling iframe display **/

img#powertabStars {
	width:50%;	
}

img.onepageGallery {
	border-color: #CCCCCC;
	border-width: 0.5em;
	border-style: double;
	width:45%;
	height: 50%;
	
	float: left; 
	
}