
/* *************************************************** */
/* NOTE - THE NAVIGATION LIST HERE INSPIRED BY ZELDMAN */
/* MORE INFO ON THE HORIZONTAL NAV LIST TECHNIQUE **** */
/* ** http://www.zeldman.com/dwws/  ** */
/* *********************************** */

/* ** HTML ** HTML ** HTML ** HTML ** HTML **** ELEMENT ** HTML */
/* HTML */


html {
    margin:0;
    padding:0;
    text-align:center;
  }

/* ** BODY ** BODY ** BODY ** BODY ** BODY ** ELEMENT ** BODY */
/* BODY */


body {
    background-color : #aaa;
    /* background-image : url('bg/grille-pattern2.jpg');
    */margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 1em;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    text-align : center;
    font-size:14px;
    font-family:verdana, geneva, sans-serif;
    color:#000;
  }


body#home div#maincol {
    background-color:#fff;
  }

/* ** DIV ** DIV ** DIV ** DIV ** DIV** DIV ** DIV ** DIV ** DIV ******* */
/* ****************************************************** ELEMENT ** DIV */


div#mainContBody {
    display:block;
    float:right;
    margin:0 auto;
    width:295px;
  }


div#elecspacer {
    clear:both;
    background-color:#555;
  }


body#guitar img#maindocimage {
    float:left;
    display:inline;
  }

/* div#electricguitar {float:right;} */



#acousticguitar {
    display:block;
    float:left;
  }


#guitarinnernav {
    float:left;
    display:block;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
  }


#guitarinnernav ul#guitarnavlist {
    display:block;
  }


#guitarinnernav ul#guitarnavlist li.nav {
    display:inline;
    float:left;
  }


#guitarinnernav ul#guitarnavlist li.nav a.menu {
    background-image : url('bg/textured-vert-bglight-1.jpg');
    color:#000;
    display : block;
    padding:2px 5px;
    border-top: 1px solid #88a;
    border-left: 1px solid #88a;
    border-bottom:1px solid #448;
    border-right: 1px solid #559;
  }


#guitarinnernav ul#guitarnavlist li.nav a.menu:hover {
    background-image : url('bg/marble.jpg');
    padding:2px 5px;
    color:#eee;
    border-right: 1px solid #559;
    border-top: 1px solid #88a;
    border-left: 1px solid #88a;
    border-bottom:1px solid #448;
    display : block;
  }


p#guitarcontparaone {
    margin:2em;
  }


#ampsinnernav {
    float:left;
    display:block;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
  }


#ampsinnernav ul#ampsnavlist {
    display:block;
  }


#ampsinnernav ul#ampsnavlist li.nav {
    display:inline;
    float:left;
  }


#ampsinnernav ul#ampsnavlist li.nav a.menu {
    background-image : url('bg/textured-vert-bglight-1.jpg');
    color:#000;
    display : block;
    padding:2px 5px;
    border-top: 1px solid #88a;
    border-left: 1px solid #88a;
    border-bottom:1px solid #448;
    border-right: 1px solid #559;
  }


#ampsinnernav ul#ampsnavlist li.nav a.menu:hover {
    background-image : url('bg/marble.jpg');
    padding:2px 5px;
    color:#eee;
    border-right: 1px solid #559;
    border-top: 1px solid #88a;
    border-left: 1px solid #88a;
    border-bottom:1px solid #448;
    display : block;
  }


#dbrowone {
    text-align:center;
    padding-right:2em;
    font: bold 40px arial,helvetica,sans-serif;
    /* right:-100px;
    */ padding-top:1em;
  }


#dbrowtwo {
    display:block;
  }


ul#dbrowtwo {
    font-size:1em;
    line-height:100%;
  }


div.thumbby {
    border: 2px dashed #333;
    background-color: #ffe;
    background-image: url('bg/textured-vert-bg-1.jpg');
  }


div.float {
    float:left;
  }


div.float a img.randy:hover {
    background-color:#dfd;
    outline:#F00;
  }


div.float a img.randy {
    margin:1em;
    border:none;
  }


div.spacer {
    clear:both;
  }


div#pick-a-head {
    text-align:left;
  }


div#changeparam {
    margin-left:10%;
  }


div#makebutton {
    margin-left:15%;
  }

/* ** PARA ** PARA ** PARA ** PARA ** PARA** PARA ** PARA *************** */
/* ************************************************* ELEMENT ** PARAGRAPH */

p.nnparabasic {
    font-family: "Courier New", Courier, monospace;
    font-size:0.9em;
    padding:1.2em;
    text-align: justify;
  }


div#makebutton p {
    width:400px;
  }


p#rthead {
    font-size:1.2em;
    font-weight:bold;
  }


p {
    margin:1em;
  }


p.mainContP {
    margin:1em 2em;
    display:block;
  }

/* ** FORM ** FORM ** FORM ** FORM ** FORM ***************************** */
/* ***************************************************** ELEMENT ** FORM */

form {
    border:3px groove #EFEBE7;
  }


form input#submit {
    margin-left:2em;
  }

/* ** IMG ** IMG ** IMG ** IMG ** IMG** IMG ** IMG ** IMG ** IMG ******* */
/* ****************************************************** ELEMENT ** IMG */


img#gold {
    display:block;
    margin:0 auto;
    text-align:center;
  }


img#maindocimage {
    float:left;
    margin-right:2em;
  }

/* ** LIST ** LIST ** LIST ** LIST ** LIST** LIST ** LIST ** LIST ** uL */
/* UNORDERED LIST *******************************ELEMENT UNORDERED LIST */

ul#specialcharlist {
    list-style-type:upper-roman;
    margin-left:10%;
  }

/* ** LIST ** LIST ** LIST ** LIST ** LIST** LIST ** LIST ** LIST ** DL */
/* ************************************** ELEMENT ** DEFINITION ** LIST */

dl#deflistmain {
  }

/* *************************************** ELEMENT ** DEFINITION TITLE **/

#makebutton dt {
    font-weight:bold;
    font-size:1em;
  }

/* **************************************** ELEMENT ** DEFINITION DATA **/

#makebutton dd {
    font-weight:bold;
    color:#c33;
    padding:0.8em;
    background-color:transparent;
    border-color:#339;
    border-style:ridge;
    border-width:2px 4px 4px 1px;
  }

/* ****************************************** ELEMENT ** BUTTON **/

button#makepanel {
    background-color:#FFD;
    color:#44D;
    font-weight:bold;
    font-variant:small-caps;
  }


button#makepanel:hover {
    background-color:#44D;
    color:#FFD;
  }

/* ** LIST ** LIST ** LIST ** LIST ** LIST** LIST ** LIST ** LIST ** UL */
/* ****************************************************** ELEMENT ** UL */


#navcontainer ul#navlist {
    display:block;
    margin:0 auto;
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }


div#maincol ul#navlist {
    margin:1em;
  }

/* MAINCONTLIST IS THE LISTS FOR CONTENT IN MAIN PAGE AREA */

div#mainContBody ul.mainContUL {
    display:block;
    text-align: left;
    background-color:#FEFECC;
    padding:1px;
    width:200px;
    /*float:left;
    */position:relative;
  }

/* ** LIST ITEMS ** LIST ITEMS ** LIST ITEMS ** LIST ITEMS ** ITEMS ** */
/* NAVIGATION *************************************** NAVIGATION ** LI */


ul.mainContUL li {
    padding-bottom:5px;
    border:2px groove #FFF;
    list-style-type:none;
    /* margin-left:-40px;
    */;
  }


div#maincol div#navcontainer li.nav {
    /* background-color:#BFBCB3;
    *//*background-color:#9C9C9C;
    *//*background-color:#B5B09D;
    */background-color: #9D9A95;
  }


#navcontainer ul#navlist li {
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
  }

/* ** ANCHOR ** ANCHOR ** ANCHOR ** ANCHOR ** ANCHOR **** ELEMENT ** A */
/* NAVIGATION **************************************** NAVIGATION ** A */


#navcontainer ul#navlist li a {
    background: #fff;
    width: 78px;
    height: 18px;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-right: none;
    padding: 0;
    margin: 0 0 10px 0;
    color: #27249D;
    text-decoration: none;
    display: block;
    text-align: center;
    font: bold 10px/18px arial,helvetica,sans-serif;
  }


#pagewidth {
    background-image : url('bg/maincolbgrad2.jpg');
    background-position : center center;
    background-repeat : repeat-y;
    margin-left : auto;
    margin-right : auto;
    outline-color : navy;
    outline-style : double;
    outline-width : 5px;
    text-align : left;
    width : 800px;
  }


#header {
    background-color : #4C4059;
    background-image : url('bg/fatboyslim-bgstyle.gif');
    background-repeat: repeat-x;
    height : 159px;
    position : relative;
    width : 100%;
    /* outline: 5px solid navy;
    */;
  }


#maincol {
    background-color: /*#f0efef */ transparent;
    float: left;
    display:inline;
    position: relative;
    width:80%;
  }

/* ** HEADING ** HEADING ** HEADING ** HEADING ** HEADING ** ELEMENT * HEADING ** */
/* H1 */ /* **************************************************************** H1 */

/* ** HEADING ** HEADING ** HEADING ** HEADING ** HEADING ** ELEMENT * HEADING ** */
/* H2 */ /* **************************************************************** H2 */


h2#guitarsubhead {
    margin:0;
    float:left;
  }


div#rightcontent {
    /* background-image : url('bg/cite_bg.jpg'); */
    font-family: sans-serif;
    font-size:12px;
  }


div#rightcontent h2 {
    font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
    font-style:italic;
    font-size:20px;
  }


div#rightcontentfixed {
    font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
    margin-left:635px;
    width:150px;
    position:fixed;
  }


ul#directiveslist {
    width:150px;
    list-style-type:lower-roman;
    list-style-position:outside;
    margin-left:-1em;
    list-style-position: outer;
    font-family:arial,helvetica,sans-serif;
    font-variant:small-caps;
    font-size:12px;
    background-color:transparent;
  }


ul#directiveslist li#itemholdslist {
    list-style-type:none;
    margin-top:2em;
  }


li.firstlyne:first-line {
    font-weight:bold;
  }


li.firstletr:first-letter:link,li.firstletr:first-letter:visited {
    font-weight:bold;
  }


ul#directiveslist li ul#sublistside {
    margin-left:-2em;
    width:120px;
  }


ul#sublistside li:first-letter {
    font-weight:bold;
  }


ul#sublistside li:first-letter:visited {
    font-weight:bold;
  }


ul#sublistside li:first-letter:hover {
    font-weight:bold;
    font-size:larger;
  }

/* ** HEADING ** HEADING ** HEADING ** HEADING ** HEADING ** ELEMENT * HEADING ** */
/* H3 */ /* **************************************************************** H1 */


h3 {
    font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
    font-style:italic;
    font-weight:bold;
    font-size:20px;
  }


#maincol p, #maincol img,#maincol h1, #maincol h2,#maincol h3, #maincol h4,#maincol dl {
    margin:1em;
  }


#rightcol h1, #rightcol h2, #rightcol h3 {
    margin:1em;
  }


#footer {
    background-color : #8F908A;
    clear : both;
    height : 100px;
  }

/* *** Float containers fix:
http://www.csscreator.com/attributes/containedfloat.php *** */



.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

/* Hides from IE-mac \*/



* html .clearfix {
    height: 1%;
  }


.clearfix {
    display: block;
  }

