parameters:
    level: 1
    paths:
        - src
        - public
        - .
        - vendor/autoload.php
        - vendor/composer
    excludePaths:
        - vendor
        - tests ?
        - tmp ?

