/** iframestyle.css
* a component of anniedebrowsa for styling iframe display **/

body,   html{
    background-color:       #fafafa;
    background-image:       url(backgrounddiagonal.gif);
    color:                  #330;
    font-family:            "Liberation Sans","DejaVu Sans Condensed",Arial,Helvetica,sans-serif;
    font-size:              10pt;
    margin:                 0;
    padding:                0;
}

/*
body * {
	padding:0.25em;
}
*/


dl{
    background-color:       #fefefe;
    background-image:       url("parchment-desat-bg.jpg");
    border:                 0.1em dashed #DDDDDD;
    margin:                 1em 0 2em 0.5em;
    padding:                1em;
    width:                  90%;
}

dl dd dl{
    background-image:       none;
    border:                 none;
    margin-bottom:          0;
}

dl dd ul{
    background-image:       none;
    background-color:       rgba(255,255,235,0.7);
    list-style-position:    inside;
    margin-left:            -0.5em;
    padding:                0.2em;
}


dl dt{
    font-weight:            600;
    background-image:       none;
    background-color:       rgba(255,255,255,1.0);
}

h1,h2,h3,h4,h5,h6{
    border-right:           18pt solid #F9322C;
    color:                  rgb(51,51,0);
    /* font-family:            "Liberation Serif", "DejaVu Serif Condensed", Georgia, serif; */
    text-shadow:            0em 0.04em 0em rgba(255,255,255,0.9);
    padding:                0.5em 0.25em ;
    background-color:       #fefefe;
    background-image:       url(contentbg-bluegrad-horiz_plus-transparent.png);
    background-position:    0px 30%;
    letter-spacing:         -0.04em;
    font-weight:            700;
    font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important
}

h1 {
    height:5.5em;
}
h1::before {
    content: url('laravel.svg');
    margin-right: 3em;
    margin-left:0.5em;
    float: left;


}

h2 {
    clear: left;
}

li{
    /*
    font-family:serif;
    */
    font-size:              0.95em;
    font-weight:            400;
}

p{
    padding:                0.25em 1em;
}

pre{
    background-color:       rgb(235,235,235);
    background-image:       url("code-bg.jpg");
    border:                 0.2em double #aaa;
    color:                  #c60;
    display:                block;
    margin:                 1em auto 0.5em auto !important;
    padding:                1em 1em;
    white-space:            pre-wrap;
    width:                  92%;
}

table, thead, tfoot, tr, td, th, caption {
    cursor:                 help;
    border:                 0.1em #000 outset;
    padding:                0.2em 0.4em 0.3em 0.4em;
    margin:                 auto;
    border-radius:          0.25em;
    caption-side:           after;
}

th {
    border-radius:          0.6em 0.6em 0.3em 0.3em;
    background-color:       #FFF;
}

tbody td {
    background-color:       #fAFAFA;
}

caption {
    border:                 none;
    font-size:              smaller;
    caption-side:           after;
}
thead, tfoot {
    text-align: right;
}

tfoot {
    font-style:             italic;
    font-family:            "Palatino Linotype", Palatino, "Liberation Serif", serif;
    background-color:       #F0F0FF;
}
* html p.displaynone{
    display:                none;
    margin-left:            8em;
    width:                  100%;
}

* html.unfloat{
    height:                 1%;
}

ul#imgShow li.imgShowItem {
    background-color:       #ccddff;
    display:                table-cell;
    float:                  left;
    list-style-type:        none;
    margin:                 0.1em 0.3em;
    outline:                0.05em solid #cccccc;
    padding-top:            0.1em;
    padding-right:          0.1em;
    padding-bottom:         0.2em;
    padding-left:           0.4em;
    text-indent:            0px;

}

li.imgShowItem img {
    background-color:       transparent;
    max-height:             3em;
    max-width:              3em;
}

.antihead{
    margin-top:             -0.5em;
}

.attn{
    background-color:rgb(221,221,51);
    color:rgb(0,0,51);
    font-family:"Comic Sans MS","comic sans",cursive;
}

.bg_grey{
    background-color:rgb(221,221,221);
}

.bg_lightx2grey{
    background-color:rgb(238,238,238);
}

.bg_white{
    background-color:rgb(255,255,255);
}

.black {
    color: #000000;
}

.blue {
    color: rgb(0,0,223);
}

.bold{
    font-weight:800;
}

.bottomsmaller{
    background-color:rgb(204,221,221);
    border:0.1em dashed #999999;
    color:rgb(0,0,128);
    display:block;
    font-family:Arial,"Helvetica",sans-serif;
    font-size:0.8em;
    margin:0.5em 2em;
    padding:1.5em 1.5em;
    text-align:justify;
}

.center{
    text-align:center;
}

.closeme{
    color:rgb(0,51,255);
    font-family:monospace;
    text-align:center;
    font-variant:small-caps;
    letter-spacing:0.1em;
}

.code{
    background-color:rgb(238,238,238);
    color:rgb(51,51,119);
    display:inline-block;
    font-family:monospace;
}


.codeHints, .codeComment {
    color:#CC0000;
    font-family:monospace;
    font-style:italic;
    margin:0; padding:0;
}

.content{
    background-color : rgba(254,254,255,0.7);
    /* font-family : "Liberation Sans","DejaVu Sans Condensed",Arial,Helvetica,sans-serif; */
    font-weight : 400;
    margin : 0.5em auto;
    padding : 0.5em 0.5em;
    display : block;
    width : 80%;
    font-family: scandia-web,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji!important;
}

.content p{
    background-color:inherit;
    background-position:bottom center;
    background-repeat:repeat-x;
}

.content p *{
    background-color:rgba(255,255,255,0.6);
}

.content form button, .content form input[type=submit] {
    background-color:#DDF;
    background-image:url(contentbg-bluegrad-horiz_plus-transparent.png);
    background-position:bottom;
    color:#006;
    text-shadow: 0.1em 0.1em 0.2em #88a;
    border-color:rgba(200,200,255,0.6);
    border-radius: 1em;
}

.contentInner {
    background-image: url(content-bg-diagonal.png);
}
.coral{
    color:rgb(255,127,80);
}

.darkorange{
    color:rgb(255,140,0);
}

.defListTitle{
    border:none;
    color:rgb(221,0,34);
    font-family:serif;
    font-style:italic;
    margin-bottom:0.3em;
    width:50%;
}

.error{
    background-color:rgb(0,102,204);
    color:rgb(255,255,255);
    display:table-cell;
    padding:0.2em 0.2em;
}

.floatLt,.floatleft,.floatLeft,.floatlt{
    float:left;
    position:relative;
}

.floatRt,.floatright,.floatrt,.floatRight{
    float:right;
    position:relative;
}

.green {
    color: green;
}

.hidden,li.hiddenitem,li.hidden{
    visibility:hidden;
}

.indentOne{
    text-indent:1em;
}

.indianred{
    color:rgb(205,92,92);
}

.italic{
    font-style:italic;
}

.keyTerms {
    background-color:rgb(250,250,250);
    display:block;
    margin:1em auto 1em 0;
    padding:0.2em 1em;
    text-align: left;
}

.keyTerms h4{
    /* border:0.2em inset rgba(220,220,255,0.4); */
    border: none;
    background-image: url(keyterms-header-bg.png);
    background-position: 0px 15%;
    padding:0.6em 1em 0.6em 0;
    text-align: right;
}

.keyTerms ul {
    width: 70%;
    border: 0.2em solid red;
    margin: 0 2em;
    background: #fff url('keyterms-bg.png') 42% 50%;
}

.keyTerms ul li{
    font-size:1.1em;
    margin-bottom:2em;
    list-style-image: url(bullet_triangle_blue.gif);
}

.keyTerms ul li pre{
    background-image:none;
    font-size:larger;
}

.keyTerms ul li sup{
    font-size:1em;
}

.keyTerms ul li sup code{
    font-size:larger;
}

.mediumblue{
    color:rgb(0,0,205);
}

.normal {
    font-style: normal;
    font-weight: normal;
}

.parchment{
    background-image:url('parchmentlight.png');
}

.pseudocode {
    background-color:rgb(240,240,234);
    color:rgb(0,136,0);
    font-family:"Liberation Mono", "DejaVu Sans Mono",  "Lucida Console", "Monaco", monospace;
    font-size:0.9em;
    margin:0.2em 0.2em;
}
.preHtml {
    font-family:monospace;
    color:#808;
    text-shadow: -0.01em -0.01em 0.022em #FF8EFF;
}
.red {
    color:#C00;
}

.right{
    text-align:right;
}
.sanserif,.sans-serif,.sansSerif,.sans{
    font-family:sans-serif;
}

.sansSerif{
    font-family:"DejaVu Sans","Liberation Sans",Arial,"Helvetica",sans-serif;
}

.sansSerifBold{
    font-family:"DejaVu Sans","Liberation Sans",Arial,"Helvetica",sans-serif;
    font-weight:700;
}

.serif{
    font-family:serif;
}

.serif{
    font-family:"DejaVu Serif Condensed","Liberation Serif","Book Antiqua","Palatino Linotype","Palatino",serif;
}

.serifBold{
    font-family:"DejaVu Serif Condensed","Liberation Serif","Book Antiqua","Palatino Linotype","Palatino",serif;
    font-weight:700;
}

.showMatches{
    background-color: rgb(221, 221, 238);
    border:0.1em double #b44000;
    font-family:monospace;
    margin:1.5em auto;
    padding:0.2em 2em;
    width:80%;
}

.smallcaps, .smallCaps {
    font-variant: small-caps;
}


.steelblue{
    color:rgb(70,130,180);
}

.strikeout {
    text-decoration: line-through;
}

.tableHeadrow, thead {
    font-family:serif;
    font-size:1.1em;
    font-weight:700;
    text-align:center;
    vertical-align:middle;
}

.testValue{
    background-color:rgb(255,255,221);
    color: rgb(0, 221, 0);
    font-family:monospace;
    font-size:0.9em;
    white-space:pre;
}

.toggler,.trigger{
    color:rgb(0,0,128);
    cursor:help;
    font-family:"Liberation Sans","DejaVu Sans",Arial,Helvetica,sans-serif;
    font-variant:small-caps;
    letter-spacing:0.1em;
    line-height:2em;
    vertical-align:middle;
}

.underline {
    text-decoration: underline;
}

.unfloat{
    display:inline-block;
}

.violet{
    color:rgb(238,130,238);
}

.width_150{
    width:150px;
}
/**     QUICK COPY FOR HOVERIN' LINKS, YAW DINKS!

:link
:visited
:focus
:hover
:active

**/

.width_200{
    width:200px;
}

.width_25{
    width:25px;
}

.width_37{
    width:37px;
}

.width_40{
    width:40px;
}

form #mf_body {
    height: 159px;
    width: 256px;
    margin:2px;
}

span.pointer,span.toggler{
    cursor:pointer;
    font-family:"liberation mono", "dejavu sans mono", "lucida console", monospace;
    font-size:0.8em;
    font-variant:small-caps;
    padding-left:0;
}

#pagewidth{
    background-color:rgba(255,255,255,0.3);
    display:block;
    margin:0 auto;
    padding:0;
    width:100%;
    position: relative;
}

.alignleft,.leftalign,.left,.align-left,.left-align,.alignleft *,#dbFormContainer,.alignleft,.leftalign,.left,.align-left,.left-align,.alignleft *,.left,#dbFormContainer{
    text-align:left;
}

.inline,.inline,ul#imgShow,ul#imgShow{
    display:inline;
}

.target,.target,li.forbidden,li.forbiddenitem,li.db .nav,li.exeicon,li.hiddenitem,.displaynone,.displayNone,.collapsableDd,#collapser-0,li.forbidden,li.forbiddenitem,li.db .nav,li.exeicon,li.hiddenitem,.displaynone,.displayNone,.collapsableDd,#collapser-0{
    display:none;
}


ul.nobull li, li.nobull, #controList, #urlSplit {
    list-style-type:none;
}

.smaller {
    font-size:smaller;
}

h4:before {
    content: "\002605 ";
}

a:link{
    color:blue;
}

a:visited{
    color:green;
}

a:focus {
    color:#000080;
    background-color:#FFFF99;
}

a:hover{
    color:red;
}


a:active {
    color:#000080;
    background-color:#FFFF99;
}
/**
* ----------------------- SPECIAL CSS DECLARATIONS -------------------------- *
**/

li.badpath {
    left: -4.5em;
    list-style-type: none;
    position: relative;
}

li.badpath:after {
    content: "\00000D\00000A bad path ";
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

#pagewidth .content dl dt {
    /* border-bottom: 0.05em groove #CC3300; */
    display: inline-block;
    font-family: "Liberation Serif","DejaVu Serif", Georgia,  serif;
    /* width: 50%; */
    padding: 0 0 0 0;
    margin: 0em 0 0em 0;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #d9332c10 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #d9332c10 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #d9332c10 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #d9332c10));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #d9332c10 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #d9332c10 100%);
}
#pagewidth .content dl dt::before {
    content: "\00A0\00A0";
}

#pagewidth .content dl dt::after {
    content: "\00A0\00A0";
}
