dl {
	border: .1em dashed #ddd;
	margin: 1em 0 2em .5em;
	width: 90%;
	* {
		dt {
			outline: 0;
			border: 0;
			font-style: italic;
		}
	}
	dd {
		background-color: #fcfcfa;
		margin: 1em 0 0;
		dl {
			background-color: #eee;
			border: medium;
			margin-bottom: 0;
			dd {
				color: #330;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		ul {
			list-style-position: inside;
			li {
				color: #330;
				font-family: "Liberation Sans","Droid Sans","DejaVu Sans",arial,helvetica,sans-serif;
				text-indent: .5em;
			}
		}
	}
	dl {
		* {
			dt {
				font-style: normal;
			}
		}
	}
	dt {
		border-bottom: .01em solid #777;
		font-weight: 600;
	}
}

li {
    font-family: Argesta, Didot, GFSDidot, Lora, "Playfair Display", Cambria, "Times New Roman", times, serif;
    font-size: .95em;
    font-weight: 400;

    &.nav {
        list-style-image: url(bullet_square_grey.png);
        margin-left: -.5em;
        padding-left: 0;
    }

    &.bakicon {
        list-style-image: url(bakicon.gif);
        list-style-type: none;
    }

    &.cssicon {
        list-style-image: none;
    }

    &.imgShowItem {
        img {
            color: #555;
            height: 3em;
            width: 5em;
        }
    }

    &.jsicon {
        list-style-image: url(javascript-icon.png);
    }

    &.navnobull {
        list-style-image: none;
    }

    &.new_dirHandArr {
        list-style-image: url(folder-new.gif);
    }

    &.pdficon {
        list-style-image: url(pdf.png);
    }

    &.phpicon {
        &::before {
            color: #ff46ff;
            content: "\2640";
            margin-left: -3rem;
            padding-left: 0;
            white-space: pre;
            font-size: 1.5rem;
            float: left;
            font-weight: 900;
        }
    }

    &.phtmlicon {
        list-style-image: none;

        &::before {
            color: #4646ff;
            content: "\26A4";
            margin-left: -3rem;
            padding-left: 0;
            white-space: pre;
            font-size: 1.5rem;
            float: left;
            font-weight: 500;
        }
    }

    &.selicon {
        list-style-image: url(sel-icon.png);
    }

    &.shortcutlink {
        list-style-image: url(link-icon.gif);
    }

    &.shtmlicon {
        display: none;
        list-style-image: url(file.png);
    }

    &.swficon {
        list-style-image: url(swf-icon.gif);
    }

    &.thumbicon {
        list-style-image: url(thumb-icon.gif);
        list-style-type: none;
    }

    &.txticon {
        list-style-image: url(txt-icon.gif);
    }

    &.xmlicon {
        list-style-image: url(xml-icon.png);
    }

    &.xpiicon {
        list-style-image: url(xpiicon.png);
    }

    &.sourceLine {
        &:after {
            content: " ";
        }
    }
}
