Argesta,
Didot,
Georgia,
"Adobe Garamond Pro", 
Argesta,
"Bookman Old Style", 


Giveny,
Maiah,
Butler,
Rosemary,



Argesta, Didot, GFSDidot, Lora, "Playfair Display", Cambria, "Times New Roman", times, serif;

